:root {
  --backgroundColor: #f7f9f969;
  --btnColor: #1a73e8;
  --fontColor: #fff;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--backgroundColor);
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.login {
  width: 35vw;
  height: 80vh;
  position: relative;
  top: 60px;
  left: 20px;
  background-color: #fff;
  box-shadow: 0 12px 18px 2px rgba(34, 0, 51, 0.04),
    0 6px 22px 4px rgba(7, 48, 114, 0.12),
    0 6px 10px -4px rgba(14, 13, 26, 0.12);
  color: #283044;
}

.login h4 {
  font-weight: 500;
  font-size: 24px;
}

.login_btn_grp {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.login_btn_grp div {
  width: 50%;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  box-shadow: none;
  border: 1px solid #eee;
}

.login_btn_grp div:nth-child(1) {
  border-right: none;
}
.login_btn_grp div:nth-child(2) {
  border-left: none;
}

.active {
  background-color: var(--btnColor);
  color: var(--fontColor);
}

.login .login_form {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.form_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
}

#signup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  transition: all 0.7s ease-in-out;
}

input[type="email"],
input[type="password"] {
  width: 300px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  background: #eee;
  border-radius: 4px;
  outline: 0;
  border: 0;
}

.btn {
  outline: none;
  border: none;
  padding: 10px;
  box-shadow: 0 12px 18px 2px rgba(34, 0, 51, 0.04),
    0 6px 22px 4px rgba(7, 48, 114, 0.12),
    0 6px 10px -4px rgba(14, 13, 26, 0.12);
  cursor: pointer;
  padding: 10px;
}

.btn-login {
  width: 200px;
  background-color: var(--btnColor);
  color: var(--fontColor);
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.login_image {
  margin-top: 20px;
}

img {
  width: 50vw;
  height: 600px;
}
